<%- include('partials/navbarHeader') -%>

<div class="profile-container container">
  <div class="row mt-3">
    <div class="col-12 col-md-8">
      <div class="card h-100 text-center">
        <!-- Add Foster Animal -->
        <h4 class="profile-title">Add A Foster Animal</h4>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger mx-2"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-danger mx-2"><%= el.msg %></div>
        <% }) %> <% } %>
        <form
          class="mx-2"
          action="/post/createPost"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label
              for="title"
              class="form-label"
              >Name:</label
            >
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>
          <div class="mb-3">
            <label
              for="caption"
              class="form-label"
              required
              >Description:</label
            >
            <textarea
              class="form-control"
              id="caption"
              name="caption"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label
              for="imgUpload"
              class="form-label"
              >Image (required):</label
            >
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
              required
            />
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              value="Upload"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <!-- End add new foster animal -->
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h4 class="profile-title"><%= user.userName %>'s Profile</h4>
        <div class="d-flex flex-row justify-content-evenly">
          <div class="profile-pic-container">
            <img
              class="profile-pic-image"
              src="<%= profile == undefined  || profile.image == undefined ? 'https://images.dog.ceo/breeds/shiba/shiba-13.jpg' : profile.image%>"
              alt=""
            />
          </div>
        </div>
        <div class="card mt-3 mt-md-0 text-center">
          <!-- change profile picture -->
          <h4 class="profile-title">Change Profile Pic</h4>
          <form
            class="mx-2"
            action="<%= !profile ? '/post/createProfilePic?_method=POST' : '/post/createProfilePic?_method=PUT' %>"
            enctype="multipart/form-data"
            method="POST"
          >
            <div class="form-group text-center">
              <input
                type="file"
                class="form-control form-control-file"
                name="file"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm"
              value="Upload"
            >
              Submit
            </button>
          </form>
        </div>
        <!-- end change profile picture -->
      </div>
  </div>
  <div>
    <h4 class="profile-title-feed-version">Current Foster Animals</h4>
  </div>
  <div class="post-card-container">
    <% for(var i=0; i<posts.length; i++) {%>
      <div class="card post-card">
        <div class="card-img-container">
          <a href="/post/<%= posts[i]._id%>">
            <img src="<%= posts[i].image%>" alt="<%= posts[i].title %>">
          </a>
        </div>
        <div class="card-text-container">
          <p><a href="/publicProfile/<%=posts[i].user._id%>"><%= posts[i].user.userName%></a></p>
          <h4><a href="/post/<%= posts[i]._id%>" class="fw-bold"><%= posts[i].title %></a></h4>
          <p class="fst-italic"><%= posts[i].caption %></p>
          <p class="fst-italic"><%= posts[i].createdAt.toString().slice(0, 15) %></p>
        </div>
      </div>
    <% } %>
    </div>
</div>
<%- include('partials/footer') -%>
